<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Name: Windi Chandra</h2>
<h2>Birthdate: October 12th, 1998</h2>
<h2>Birthplace: Pontianak</h2>
<h2>Address: Depok</h2>
<br/>
<h2>Education : University of Indonesia</h2>
<p>Hello my name is windi. This is a paragraph. This paragraph consist of 3 sentences. Or maybe we can make it 4.</p>
<p th:if="${visitor}" th:text="${visitor} + ', I hope you interested to hire me.'" >
<p th:unless="${visitor}" th:text="'This is my CV.'" >
</body>
</html>
